In [21]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path
import scipy.stats as st
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# File to Load (Remember to Change These)
AAPL_ticker = Path("Stock_data/AAPL.csv")
AAPL_stock = pd.read_csv(AAPL_ticker)
AAPL_stock["Ticker"]= "AAPL"

AMZN_ticker = Path("Stock_data/AMZN.csv")
AMZN_stock = pd.read_csv(AMZN_ticker)
AMZN_stock["Ticker"]= "AMZN"

CSCO_ticker = Path("Stock_data/CSCO.csv")
CSCO_stock = pd.read_csv(CSCO_ticker)
CSCO_stock["Ticker"]= "CSCO"


EBAY_ticker = Path("Stock_data/EBAY.csv")
EBAY_stock = pd.read_csv(EBAY_ticker)
EBAY_stock["Ticker"]= "EBAY"

GOOG_ticker = Path("Stock_data/GOOG.csv")
GOOG_stock = pd.read_csv(GOOG_ticker)
GOOG_stock["Ticker"]= "GOOG"

IBM_ticker = Path("Stock_data/IBM.csv")
IBM_stock = pd.read_csv(IBM_ticker)
IBM_stock["Ticker"]= "IBM"

MSFT_ticker = Path("Stock_data/MSFT.csv")
MSFT_stock = pd.read_csv(MSFT_ticker)
MSFT_stock["Ticker"]= "MSFT"

NVDA_ticker = Path("Stock_data/NVDA.csv")
NVDA_stock = pd.read_csv(NVDA_ticker)
NVDA_stock["Ticker"]= "NVDA"

T_ticker = Path("Stock_data/T.csv")
T_stock = pd.read_csv(T_ticker)
T_stock["Ticker"]= "T"


TSLA_ticker = Path("Stock_data/TSLA.csv")
TSLA_stock = pd.read_csv(TSLA_ticker)
TSLA_stock["Ticker"]= "TSLA"

# student_data= Path("Resources/students_complete.csv")

In [3]:
#Combining all the Ticker data into a single DataFrame
stock_combined_df = pd.concat([AAPL_stock,AMZN_stock,CSCO_stock,EBAY_stock,GOOG_stock,IBM_stock,MSFT_stock,NVDA_stock,T_stock,TSLA_stock],ignore_index=True)

In [4]:
stock_combined_df.tail()

,Date,Low,Open,Volume,High,Close,Adjusted Close,Ticker
77615,06-12-2022,175.330002,181.220001,92150800,183.649994,179.820007,179.820007,TSLA
77616,07-12-2022,172.220001,175.029999,84213300,179.380005,174.039993,174.039993,TSLA
77617,08-12-2022,169.059998,172.199997,97624500,175.199997,173.440002,173.440002,TSLA
77618,09-12-2022,173.360001,173.839996,104746600,182.500000,179.050003,179.050003,TSLA
77619,12-12-2022,170.389999,176.100006,36780366,177.359894,172.190002,172.190002,TSLA

In [5]:
#Checking for NAs
stock_combined_df.isna().sum()

Date              0
Low               0
Open              0
Volume            0
High              0
Close             0
Adjusted Close    0
Ticker            0
dtype: int64

In [6]:
#Filtering the data based on the 10 year period
stock_combined_df['Date'] = pd.to_datetime(stock_combined_df['Date'], format='%d-%m-%Y')
start_date = '2010-01-01'
end_date = '2021-12-31'

stocks_filtered_df = stock_combined_df[(stock_combined_df['Date'] >= start_date) & (stock_combined_df['Date'] <= end_date)]

In [7]:
stocks_filtered_df.head(1)

,Date,Low,Open,Volume,High,Close,Adjusted Close,Ticker
7331,2010-01-04,7.585,7.6225,493729600,7.660714,7.643214,6.515212,AAPL

In [8]:
# Extract the year from the 'Date' column and store it in a new column 'Year'
stocks_filtered_df['Year'] = stocks_filtered_df['Date'].dt.year

# Group the DataFrame by 'Ticker' and 'Year' and calculate the mean of the 'Close' column for each group
average_close_by_ticker_year = stocks_filtered_df.groupby(['Ticker', 'Year'])['Close'].mean()

# Reset the index to make 'Ticker' and 'Year' regular columns
average_close_by_ticker_year = average_close_by_ticker_year.reset_index()

# Rename the columns for clarity
average_close_by_ticker_year.columns = ['Ticker', 'Year', 'Average_Close']

# Display the resulting DataFrame
average_close_by_ticker_year

C:\Users\mm_xx\AppData\Local\Temp\ipykernel_6040\456655445.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stocks_filtered_df['Year'] = stocks_filtered_df['Date'].dt.year

    Ticker  Year  Average_Close
0     AAPL  2010       9.280088
1     AAPL  2011      13.000154
2     AAPL  2012      20.573204
3     AAPL  2013      16.879817
4     AAPL  2014      23.066164
..     ...   ...            ...
115   TSLA  2017      20.954420
116   TSLA  2018      21.153995
117   TSLA  2019      18.235347
118   TSLA  2020      96.665689
119   TSLA  2021     259.998162

[120 rows x 3 columns]

In [9]:
# Extract the year from the 'Date' column and store it in a new column 'Year'
stocks_filtered_df['Year'] = stocks_filtered_df['Date'].dt.year

# Group the DataFrame by 'Ticker' and 'Year' and calculate the mean of the 'Close' column for each group
median_close_by_ticker_year = stocks_filtered_df.groupby(['Ticker', 'Year'])['Close'].median()

# Reset the index to make 'Ticker' and 'Year' regular columns
median_close_by_ticker_year = median_close_by_ticker_year.reset_index()

# Rename the columns for clarity
median_close_by_ticker_year.columns = ['Ticker', 'Year', 'Median_Close']

# Display the resulting DataFrame
median_close_by_ticker_year

C:\Users\mm_xx\AppData\Local\Temp\ipykernel_6040\2401310653.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stocks_filtered_df['Year'] = stocks_filtered_df['Date'].dt.year

    Ticker  Year  Median_Close
0     AAPL  2010      9.180893
1     AAPL  2011     12.750893
2     AAPL  2012     20.803214
3     AAPL  2013     16.466965
4     AAPL  2014     23.475000
..     ...   ...           ...
115   TSLA  2017     21.170000
116   TSLA  2018     21.257999
117   TSLA  2019     17.353001
118   TSLA  2020     80.577332
119   TSLA  2021    243.323334

[120 rows x 3 columns]

In [10]:
# Extract the year from the 'Date' column and store it in a new column 'Year'
stocks_filtered_df['Year'] = stocks_filtered_df['Date'].dt.year

# Group the DataFrame by 'Ticker' and 'Year' and calculate the mean of the 'Close' column for each group
var_close_by_ticker_year = stocks_filtered_df.groupby(['Ticker', 'Year'])['Close'].var()

# Reset the index to make 'Ticker' and 'Year' regular columns
var_close_by_ticker_year = var_close_by_ticker_year.reset_index()

# Rename the columns for clarity
var_close_by_ticker_year.columns = ['Ticker', 'Year', 'Variance_Close']

# Display the resulting DataFrame
var_close_by_ticker_year

C:\Users\mm_xx\AppData\Local\Temp\ipykernel_6040\3405814854.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stocks_filtered_df['Year'] = stocks_filtered_df['Date'].dt.year

    Ticker  Year  Variance_Close
0     AAPL  2010        1.799091
1     AAPL  2011        0.857201
2     AAPL  2012        5.721816
3     AAPL  2013        2.570043
4     AAPL  2014       11.174467
..     ...   ...             ...
115   TSLA  2017        7.458840
116   TSLA  2018        3.676223
117   TSLA  2019       12.498708
118   TSLA  2020     3173.279615
119   TSLA  2021     2887.911148

[120 rows x 3 columns]

In [12]:
# Extract the year from the 'Date' column and store it in a new column 'Year'
stocks_filtered_df['Year'] = stocks_filtered_df['Date'].dt.year

# Group the DataFrame by 'Ticker' and 'Year' and calculate the mean of the 'Close' column for each group
std_close_by_ticker_year = stocks_filtered_df.groupby(['Ticker', 'Year'])['Close'].std()

# Reset the index to make 'Ticker' and 'Year' regular columns
std_close_by_ticker_year = std_close_by_ticker_year.reset_index()

# Rename the columns for clarity
std_close_by_ticker_year.columns = ['Ticker', 'Year', 'StandardDev_Close']

# Display the resulting DataFrame
std_close_by_ticker_year

C:\Users\mm_xx\AppData\Local\Temp\ipykernel_6040\3815308630.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stocks_filtered_df['Year'] = stocks_filtered_df['Date'].dt.year

    Ticker  Year  StandardDev_Close
0     AAPL  2010           1.341302
1     AAPL  2011           0.925852
2     AAPL  2012           2.392032
3     AAPL  2013           1.603135
4     AAPL  2014           3.342823
..     ...   ...                ...
115   TSLA  2017           2.731088
116   TSLA  2018           1.917348
117   TSLA  2019           3.535351
118   TSLA  2020          56.331870
119   TSLA  2021          53.739289

[120 rows x 3 columns]

In [13]:
# Extract the year from the 'Date' column and store it in a new column 'Year'
stocks_filtered_df['Year'] = stocks_filtered_df['Date'].dt.year

# Group the DataFrame by 'Ticker' and 'Year' and calculate the mean of the 'Close' column for each group
min_close_by_ticker_year = stocks_filtered_df.groupby(['Ticker', 'Year'])['Close'].min()

# Reset the index to make 'Ticker' and 'Year' regular columns
min_close_by_ticker_year = min_close_by_ticker_year.reset_index()

# Rename the columns for clarity
min_close_by_ticker_year.columns = ['Ticker', 'Year', 'Minimum_Close']

# Display the resulting DataFrame
min_close_by_ticker_year

C:\Users\mm_xx\AppData\Local\Temp\ipykernel_6040\678081867.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stocks_filtered_df['Year'] = stocks_filtered_df['Date'].dt.year

    Ticker  Year  Minimum_Close
0     AAPL  2010       6.858929
1     AAPL  2011      11.261429
2     AAPL  2012      14.686786
3     AAPL  2013      13.947500
4     AAPL  2014      17.849285
..     ...   ...            ...
115   TSLA  2017      14.466000
116   TSLA  2018      16.704000
117   TSLA  2019      11.931333
118   TSLA  2020      24.081333
119   TSLA  2021     187.666672

[120 rows x 3 columns]

In [14]:
# Extract the year from the 'Date' column and store it in a new column 'Year'
stocks_filtered_df['Year'] = stocks_filtered_df['Date'].dt.year

# Group the DataFrame by 'Ticker' and 'Year' and calculate the mean of the 'Close' column for each group
max_close_by_ticker_year = stocks_filtered_df.groupby(['Ticker', 'Year'])['Close'].max()

# Reset the index to make 'Ticker' and 'Year' regular columns
max_close_by_ticker_year = max_close_by_ticker_year.reset_index()

# Rename the columns for clarity
max_close_by_ticker_year.columns = ['Ticker', 'Year', 'Maximum_Close']

# Display the resulting DataFrame
max_close_by_ticker_year

C:\Users\mm_xx\AppData\Local\Temp\ipykernel_6040\3955968510.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stocks_filtered_df['Year'] = stocks_filtered_df['Date'].dt.year

    Ticker  Year  Maximum_Close
0     AAPL  2010      11.623929
1     AAPL  2011      15.080000
2     AAPL  2012      25.075001
3     AAPL  2013      20.360357
4     AAPL  2014      29.750000
..     ...   ...            ...
115   TSLA  2017      25.666668
116   TSLA  2018      25.304667
117   TSLA  2019      28.729334
118   TSLA  2020     235.223328
119   TSLA  2021     409.970001

[120 rows x 3 columns]

In [26]:
stock_combined_df['Ticker'].dtypes

dtype('O')

In [40]:

# Define your categorization logic as a function
def categorize_ticker(ticker_symbol):
    if ticker_symbol in ['AAPL', 'AMZN', 'CSCO', 'EBAY', 'GOOG', 'MSFT', 'NVDA','TSLA']:
        return "NASDAQ"
    elif ticker_symbol in ["T", "IBM"]:
        return "NYSE"
    else:
        return "Other"
# Create a new column to store the categories
max_close_by_ticker_year["Stock_Listing"] = None
# Use a for loop to categorize ticker symbols
for index, row in max_close_by_ticker_year.iterrows():
    ticker_symbol = row["Ticker"]
    category = categorize_ticker(ticker_symbol)
    max_close_by_ticker_year.at[index, "Stock_Listing"] = category
# Print the resulting DataFrame
print(max_close_by_ticker_year)

    Ticker  Year  Maximum_Close Stock_Listing
0     AAPL  2010      11.623929        NASDAQ
1     AAPL  2011      15.080000        NASDAQ
2     AAPL  2012      25.075001        NASDAQ
3     AAPL  2013      20.360357        NASDAQ
4     AAPL  2014      29.750000        NASDAQ
..     ...   ...            ...           ...
115   TSLA  2017      25.666668        NASDAQ
116   TSLA  2018      25.304667        NASDAQ
117   TSLA  2019      28.729334        NASDAQ
118   TSLA  2020     235.223328        NASDAQ
119   TSLA  2021     409.970001        NASDAQ

[120 rows x 4 columns]

In [44]:
max_close_by_ticker_year.loc[max_close_by_ticker_year['Ticker']=="IBM"]

   Ticker  Year  Maximum_Close Stock_Listing
60    IBM  2010     140.458893          NYSE
61    IBM  2011     186.003830          NYSE
62    IBM  2012     201.720840          NYSE
63    IBM  2013     206.309753          NYSE
64    IBM  2014     189.072662          NYSE
65    IBM  2015     166.730408          NYSE
66    IBM  2016     161.099426          NYSE
67    IBM  2017     173.948380          NYSE
68    IBM  2018     161.682602          NYSE
69    IBM  2019     144.703629          NYSE
70    IBM  2020     149.866150          NYSE
71    IBM  2021     144.627151          NYSE

In [46]:
# Extract the year from the 'Date' column and store it in a new column 'Year'
stocks_filtered_df['Year'] = stocks_filtered_df['Date'].dt.year

# Group the DataFrame by 'Ticker' and 'Year' and calculate the mean of the 'Close' column for each group
SEM_close_by_ticker_year = stocks_filtered_df.groupby(['Ticker', 'Year'])['Close'].sem()

# Reset the index to make 'Ticker' and 'Year' regular columns
SEM_close_by_ticker_year = SEM_close_by_ticker_year.reset_index()

# Rename the columns for clarity
SEM_close_by_ticker_year.columns = ['Ticker', 'Year', 'SEM']

# Display the resulting DataFrame
SEM_close_by_ticker_year

C:\Users\mm_xx\AppData\Local\Temp\ipykernel_6040\3690047831.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stocks_filtered_df['Year'] = stocks_filtered_df['Date'].dt.year

    Ticker  Year       SEM
0     AAPL  2010  0.084494
1     AAPL  2011  0.058323
2     AAPL  2012  0.151285
3     AAPL  2013  0.100988
4     AAPL  2014  0.210578
..     ...   ...       ...
115   TSLA  2017  0.172385
116   TSLA  2018  0.121022
117   TSLA  2019  0.222706
118   TSLA  2020  3.541554
119   TSLA  2021  3.385257

[120 rows x 3 columns]

In [50]:
Summary_Stats_Stock = pd.merge(
    average_close_by_ticker_year,
    median_close_by_ticker_year,
    on=["Ticker", "Year"],
    how='inner'
)

Summary_Stats_Stock = pd.merge(
    Summary_Stats_Stock,
    var_close_by_ticker_year,
    on=["Ticker", "Year"],
    how='inner'
)

Summary_Stats_Stock = pd.merge(
    Summary_Stats_Stock,
    std_close_by_ticker_year,
    on=["Ticker", "Year"],
    how='inner'
)

Summary_Stats_Stock = pd.merge(
    Summary_Stats_Stock,
    min_close_by_ticker_year,
    on=["Ticker", "Year"],
    how='inner'
)

Summary_Stats_Stock = pd.merge(
    Summary_Stats_Stock,
    max_close_by_ticker_year,
    on=["Ticker", "Year"],
    how='inner'
)

Summary_Stats_Stock = pd.merge(
    Summary_Stats_Stock,
    SEM_close_by_ticker_year,
    on=["Ticker", "Year"],
    how='inner'
)

Summary_Stats_Stock

,Ticker,Year,Average_Close,Median_Close,Variance_Close,StandardDev_Close,Minimum_Close,Maximum_Close,Stock_Listing,SEM
0,AAPL,2010,9.280088,9.180893,1.799091,1.341302,6.858929,11.623929,NASDAQ,0.084494
1,AAPL,2011,13.000154,12.750893,0.857201,0.925852,11.261429,15.080000,NASDAQ,0.058323
2,AAPL,2012,20.573204,20.803214,5.721816,2.392032,14.686786,25.075001,NASDAQ,0.151285
3,AAPL,2013,16.879817,16.466965,2.570043,1.603135,13.947500,20.360357,NASDAQ,0.100988
4,AAPL,2014,23.066164,23.475000,11.174467,3.342823,17.849285,29.750000,NASDAQ,0.210578
...,...,...,...,...,...,...,...,...,...,...
115,TSLA,2017,20.954420,21.170000,7.458840,2.731088,14.466000,25.666668,NASDAQ,0.172385
116,TSLA,2018,21.153995,21.257999,3.676223,1.917348,16.704000,25.304667,NASDAQ,0.121022
117,TSLA,2019,18.235347,17.353001,12.498708,3.535351,11.931333,28.729334,NASDAQ,0.222706
118,TSLA,2020,96.665689,80.577332,3173.279615,56.331870,24.081333,235.223328,NASDAQ,3.541554
119,TSLA,2021,259.998162,243.323334,2887.911148,53.739289,187.666672,409.970001,NASDAQ,3.385257